:root {
  background-color: #161923;
  color: #bcbdba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

main {
  width: 50rem;
  margin: 0 auto 1rem auto;
  font-size: 1.25rem;
  line-height: 1.5em;
}

.widget {
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  background-color: #0f1011;
  color: #ccc;
  font-size: 0.875rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.125em;
}

.dialog {
  background-color: #282d3f;
  margin: 5px 0 10px 0;
  border-radius: 4px;
  text-indent: 8px;
  font-size: 0.9rem;
}

.bad > h3 {
  color: #9a0909;
}

.good > h3 {
  color: #147106;
}

.bad > section, .good > section {
  background-color: #282d3f;
  margin: 15px 0 10px 0;
  border-radius: 4px;
  text-indent: 8px;
}

.bad > h3, .good > h3 {
  margin-top: 25px;
}

mark {
  display: flex;
  justify-content: center;
  color: #6f7070;
  background-color: initial;
}

time {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 0 0;
  color: #6f7070;
}

i {
  font-family: "Times", serif;
  font-style: italic;
}

a:link, a:visited, a:active {
  color: #ff2457;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  main {
    font-size: 1.125rem;
  }

  main, footer {
    width: 100%;
    padding: 0 0.75rem;
  }
}
